In [58]:
#install googletrans

In [ ]:
pip install googletrans==4.0.0-rc1

In [36]:
import googletrans
from googletrans import Translator
from googletrans import LANGUAGES
import pandas as pd

In [47]:
#data=pd.read_excel("file_left.xlsx") to read the excel file

In [48]:
#data.to_csv('file_left.txt',sep='#',header=None) transform the excel file into .txt file

# read text file

In [59]:
name='2' #1sad 2sad..........
data=pd.read_csv(name+'.txt',sep='#',header=None)

In [54]:
data.head(5)

   0         1                                                  2
0  0  surprise  Ok, ahhh! Last chance to go into school before...
1  1  surprise  Sooo tired i cant believe its already dark out...
2  2  surprise    @dougiemcfly Aint the UK fans your fav people!?
3  3  surprise                     Is up and I can't go to sleep!
4  4  surprise  @bbyowls i cant afford it  go to school here ? !!

In [51]:
translator = Translator()

In [ ]:
#la ligne ci-dessous effectue la traduction et cr√©er une nouvelle colonne avec le nom 'Arabic'

In [57]:
data['Arabic'] = data[2].apply(translator.translate, src='en', dest='ar').apply(getattr, args=('text',))

In [27]:
#data.to_csv("2surprise.txt",sep='#',index='false')

# save result to a new excel file

In [60]:
data.to_excel(name+"_ar.xlsx",index='false')